* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
}

.contenedor {
  width: 600px;
  height: 550px;
  margin: auto;
}

.principal {
  width: 100%;
  height: 400px;
  background-size: 100%;
  background-image: url("../img/01.jpg");
}

.imagen {
  width: 24.49%;
  height: 150px;
  margin-top: 20px;
  display: inline-block;
  background-size: 160%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.uno {
  background-image: url("../img/01.jpg");
}

.dos {
  background-image: url("../img/02.jpg");
}

.tres {
  background-image: url("../img/03.jpg");
}

.cuatro {
  background-image: url("../img/04.jpg");
}
